<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de Generos</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1>LISTADO DE GENEROS</h1>
    <ul>
        <% for( let i = 0; i < genres.length; i++ ) { %>
        <li>
            <a href="/genres/detail/<%= genres[i].id %>"><%= genres[i].name %></a>
        </li>
        <% } %>

    </ul>
    <div style="margin-top: 15px;">
        <button style="border: 1px solid gray; width: 80px; height: 30px; border-radius: 5px; background-color: #FF8474;">
        <a href="/" style="color: black; text-decoration: none; font-size: 1rem;">HOME</a>
        </button>
        </div>
</body>

</html>