<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <br>
    <div>
    <button style="border: 1px solid gray; width: 150px; height: 30px; border-radius: 5px; background-color: #86c59b;">
    <a href="/movies/add"  style="color: black; text-decoration: none; font-size: 1rem;">Agregar Película</a>
    </button>
    </div>
    <div style="margin-top: 15px;">
    <button style="border: 1px solid gray; width: 80px; height: 30px; border-radius: 5px; background-color: #FF8474;">
    <a href="/" style="color: black; text-decoration: none; font-size: 1rem;">HOME</a>
    </button>
    </div>
    <br>
    <br>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>